# Python
__pycache__/
*.py[cod]
*.egg-info/



# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Spark
.metastore_db/

# AWS
.aws/

project_details.md 
details.md
speed_layer.md
implementation.md
log.md
dashboard.md
# Data & Datasets
*.csv
*.tsv
*.parquet
*.gz
*.zip
batch/data/
data/
furtherguide.md

