# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Spark
.metastore_db/

# AWS
.aws/

# Build Packages & Temp Outputs
application.zip
temp_input_csv/
serial_output/

# Data & Datasets
*.csv
*.tsv
*.parquet
*.gz
*.zip
batch/data/
